/* Font stuff */
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
/* Font stuff */

/* CSS REST */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END OF CSS RESET */

/* Defaults */
:root {
    --bg-color: #d9d9d9;
    --color-primary: #000;
    --color-secondary: #fff;
    --color-tertiary: #f00;
    --color-quaternary: #ff3636;
}

html {
    font-family: 'Neucha', Arial, sans-serif;
    font-size: 16px;
    background-color: var(--bg-color);
}

ul {
    margin-left: 1rem;
}

ul li {
    list-style: disc;
    margin-left: 1.25rem;
}

header,
footer {
    color: var(--color-secondary);
    background-color: var(--color-primary);
    min-height: 3rem;
}

.header-copy,
.footer-copy {
    display: inline-block;
    color: var(--color-secondary);
    margin: 2rem;
    line-height: 1.25;
}

.header-copy {
    font-size: 1.25rem;
}

.copyright {
    margin-top: 1rem;
}

a:link {
    color: var(--color-tertiary);
}

a:visited {
    color: var(--color-tertiary);
}

a:hover {
    color: var(--color-quaternary);
}

main {
    margin: 2rem;
}

h1,
.h1 {
    display: inline-block;
    color: var(--color-primary);
    font-size: 2rem;
    margin: 0.5rem 0;
}

#question,
#ans,
#ans div,
#ans p,
#ans li {
   margin: 0.75rem 0; 
   animation: fade-in 2s;
}

.txt-three-quarters {
    font-size: 0.75em;
}

#numerator,
#denominator {
    border: none;
    border-radius: 0.25rem;
    text-align: right;
    width: 3.25rem;
    height: 1.25rem;
    padding: 0 0.5rem;
}

#btn-submit,
#btn-again,
#btn-random {
    display: inline-block;
    font-family: 'Neucha', Arial, sans-serif;
    font-size: 1rem;
    border: 0.125rem solid var(--color-primary);
    border-radius: 0.5rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 0.5rem 1rem;
    cursor: pointer;
}

div.output-area {
    margin: 1rem 0;
    height: 50vh;
    background-color: var(--color-secondary);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    overflow: scroll;
    border-radius: 0.5rem;
    padding: 1rem;
}

.disk,
.disk-hit {
    border-radius: 50%;
    background-color: var(--color-primary);
    margin: 0.2rem;
    width: 1.5rem;
    height: 1.5rem;
    animation: fade-in 2s;
}

.disk-hit {
    background-color: var(--color-tertiary);
}

.text-tertiary-color {
    color: var(--color-tertiary);
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}